/* General Styles */
:root {
    --primary: #02541d;
    --secondary: #8AB096;
    --accent: #353535;
    --text-dark: #000000;
    --text-light: #FFFFFF;
    --hover: #8AB096;
    --dark: #252525;
    --light: #FFFFFF;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light);
    color: var(--text-dark);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 1rem;
}

.header__logo img {
    width: 150px;
    height: 75px;
}

.header__nav {
    flex-grow: 1;
    margin-left: 2rem;
}

.header__menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.header__menu-item {
    position: relative;
}

.header__menu-link {
    text-decoration: none;
    color: var(--text-light);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.header__menu-link:hover {
    background-color: var(--hover);
    border-radius: 5px;
    transform: scale(1.1);
}

.header__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
}

.header__submenu-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.header__submenu-link {
    text-decoration: none;
    color: var(--text-light);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.header__submenu-link:hover {
    background-color: var(--hover);
    border-radius: 5px;
    transform: scale(1.1);
}

.header__menu-item:hover .header__submenu {
    display: block;
}

/* Main Styles */
.main {
    padding: 2rem;
}

.main__header {
    margin: 0;
    min-height: 50vh;
    padding: 5% 25% 5% 5%;
    display: flex;
    align-items: end;
    color: var(--light);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(2, 84, 29, 0.7) 80%),
        url('/assets/img/img/libreria.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 2rem 0px;
}

.books__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--light);
    transition: transform 0.3s ease;
}

.books__item:hover {
    transform: scale(1.05);
}

.books__item-image {
    flex: 1; /* Ocupa el 40% del ancho de la tarjeta */
    display: flex;
    justify-content: center;
    align-items: center;
}

.books__item-image img {
    width: 100%;
    height: auto;
    max-width: 150px; /* Ajusta el tamaño máximo de la imagen si es necesario */
}

.books__item-text {
    flex: 3; /* Ocupa el 60% del ancho de la tarjeta */
    display: flex;
    flex-direction: column;
}

.books__item-title,
.books__item-subtitle,
.books__item-author,
.books__item-description {
    margin-bottom: 0.5rem;
}

.books__item-description {
    font-size: 0.9rem;
    color: var(--text-dark);
}

.button{
    max-width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.button--primary {
    color: var(--light);
    background-color: var(--primary);

}

.button--primary:hover {
    background-color: var(--hover);
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--light);
}
