/**** START GENERAL STYLES ****/

:root {
    --primary: #02541d;
    --secondary: #8AB096;
    --accent: #353535;
    --text: #000000;
    --dark: #252525;
    --light: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color: var(--text);
}

p {
    font-size: 16px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

label {
    display: none;
}

/**** END GENERAL STYLES ****/

/**** START BODY STYLES ****/

body {
    background-color: var(--light);
}

/*** START HEADER STYLES ***/

header {
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary);
}

header nav {
    align-content: center;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    color: var(--text);
    padding: 0 5px;
}

header nav ul li a:hover {
    color: var(--primary);
}

/*** END HEADER STYLES ***/

/*** START MAIN STYLES ***/

main {
    margin: 2%;
}

section {
    padding: 2.5rem 1rem;
}

section h2 {
    padding: 1rem 0;
}

/** START DESCRIPTION STYLES **/


#description {
    text-align: center;
}

#description div p {
    padding: 0 8rem;
}

/** END DESCRIPTION STYLES **/

/** START CATALOGO STYLES **/

#catalogo h2 {
    text-align: center;
}

#catalogo #navigator {
    text-align: end;
}

#catalogo #navigator input{
    width: 25%;
    padding: 5px;
}

/* START CATALOGO BOOKS STYLES */

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

}

.book {
    width: 45%;
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: row;
}

.book-image {
    width: 45%;
    display: flex;
    align-items: center;
}

.book-image img {
    width: 100%;
}

.book-text {
    width: 45%;
}

/* END CATALOGO BOOKS STYLES */

/** END CATALOGO STYLES **/

/*** START FOOTER STYLES ***/

footer {
    padding: 5%;
    text-align: center;
    background-color: var(--primary);
}

/*** END FOOTER STYLES ***/

/*** END MAIN STYLES ***/

/**** END BODY STYLES ****/